@charset "utf-8";
/* CSS Document */

.navegacao ul li:last-child a {
	background: #00498e;
	color: #fefefe;
	cursor: text;
}
.menu-movel li:nth-child(9) a {
	background: #00498e;
	color: #fefefe;
	cursor: text;
}