@charset "utf-8";
/* CSS Document */

.navegacao ul li:nth-child(7) a {
	background: #00498e;
	color: #fefefe;
	cursor: text;
}
.menu-movel li:nth-child(8) a {
	background: #009146;
	color: #fefefe;
	cursor: text;
}